<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://java.sun.com/xml/ns/persistence"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
             http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="ChatBotPU" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <class>de.fhdw.freefeser.databases.User</class>
        <class>de.fhdw.freefeser.databases.ChatMessage</class>
        <class>de.fhdw.freefeser.databases.Chatbot</class>
        <class>de.fhdw.freefeser.databases.BotMessage</class>
        <class>de.fhdw.freefeser.databases.AvailableBot</class>
        <properties>
            <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
            <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/chatbotdb"/>
            <property name="javax.persistence.jdbc.user" value="your_db_username"/>
            <property name="javax.persistence.jdbc.password" value="your_db_password"/>
            <property name="hibernate.hbm2ddl.auto" value="update"/>
        </properties>
    </persistence-unit>
</persistence>
